.venv
.mojo_venv
output/*
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*.csv
*.json
*.html
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/logs/*
*.log

.DS_Store
*.parquet
.venv_3_10
.venv_3_12
.venv*
actual/Pipfile
actual/Pipfile.lock
Pipfile
Pipfile.lock
beeware
# pixi environments
.pixi
*.egg-info
whitelist.py
localBackup
#actual/*
.streamlit/secrets.toml
.ai_ana_records/
identical_files_backup

# Build directories
build/
dist/
.eggs/
*.egg